<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happybananastudio.mgint.abxspectrum">

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/v1_logo_alt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/v1_logo_alt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.happybananastudio.mgint.abxspectrum.activityMain"
            android:screenOrientation="sensorLandscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activityPopUp"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity android:name=".activityAbout"
            android:screenOrientation="sensorLandscape" >
        </activity>

    </application>

</manifest>